# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build output
dist/
web-build/
coverage/

# Native folders (generated if prebuild is used)
android/
ios/

# Local environment
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*